<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="google-site-verification" content="3_dUrV0l3CoZllaqpkc7CesDN_pHwbzQr9pLCrrr0gk" />
		<title>Diogo Costa - Personal Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Diogo Costa's Portfolio Website">
		<meta name="keywords" content="diogo costa, portfolio, web development, software, brunel, development, android, app">
		<meta name="author" content="Diogo Costa">
		<!--Fonts Styles-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">
		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico" />
		<!-- bootstrap css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<!-- font-awesome css -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<!-- Material Design Bootstrap -->
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">-->
		<!-- owl-carousel css -->
		<link rel="stylesheet" href="assets/css/owl.carousel.css">
		<!-- owl-transition css -->
		<link rel="stylesheet" href="assets/css/owl.transitions.css">
		<!-- magnific-popup css -->
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<!-- Forn style css -->
		<link rel="stylesheet" href="assets/style.css">
		<!-- responsive css -->
		<link rel="stylesheet" href="assets/css/responsive.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- preloader -->
		<div class="preloader">
			<div class="status">
				<div class="status-mes"></div>
			</div>
		</div>
		<!-- / preloader -->
		<!-- Start Header Area -->
		<header id="home" class="welcome-header-area">
			<!-- Start Header Top -->
			<div class="header-top-area">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<!-- Start Logo -->
							<div class="logo">
								<a href="#home">Diogo Costa</a>
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-9">
							<!-- Start Main Menu -->
							<div class="main_menu">
								<div class="navbar text-right">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										</button>
									</div>
									<div class="navbar-collapse collapse">
										<ul class="nav navbar-nav navbar-right">
											<li class="active"><a class="smooth-scroll" href="#home">home</a>
											</li>
											<li><a class="smooth-scroll" href="#about">about</a>
											</li>
											<li><a class="smooth-scroll" href="#services">services</a>
											</li>
											<li><a class="smooth-scroll" href="#portfolio">portfolio</a>
											</li>
											<li><a class="smooth-scroll" href="#blog">blog</a>
											</li>
											<li><a class="smooth-scroll" href="#contact">contact</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Top -->
			<!-- Start Image Area -->
			<div class="welcome-image-area particle-bg" data-stellar-background-ratio="0.6">
				<div id="particles-js"></div>
				<div class="display-table">
					<div class="display-table-cell">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="welcome-text text-center">
										<h1 class="typewrite" data-period="2000" data-type='[ "Hi, I am Diogo Costa.", "I am a Developer.", "I am a Designer.", "I am a Engineer.", "I am creative.", "I am a Londoner." ]'>
										</h1>
										<div class="line"></div>
										<div class="author-social text-center">
											<ul>
                								<li><a class="f-color" href="https://www.facebook.com/DiogoTheCoder/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                								</li>
                								<li><a class="t-color" href="https://twitter.com/DiogoTheCoder/" target="_blank"><i class="fab fa-twitter"></i></a>
                								</li>
                								<li><a class="g-color" href="https://github.com/DiogoTheCoder/" target="_blank"><i class="fab fa-github"></i></a>
                								</li>
                								<li><a class="l-color" href="https://www.linkedin.com/in/DiogoTheCoder/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                								</li>
                								<li><a class="y-color" href="https://www.youtube.com/DiogoTheCoder?sub_confirmation=1" target="_blank"><i class="fab fa-youtube"></i></a>
                								</li>
											</ul>
										</div>
										<div class="arrow-down">
											<a href="#about" class="smooth-scroll btn"><i class="fa fa-angle-double-down"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Image Area -->
		</header>
		<!--/ End Header Area -->
		<!-- Start About Us area -->
		<section id="about" class="about_us-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<!-- Start Section Title -->
						<div class="section-title">
							<h2>About Diogo Costa</h2>
						</div>
						<!--/ End Section Title -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<!-- Start About Image -->
						<div class="about-image ">
							<img class="img-responsive" src="assets/img/bg/about-image.jpg" alt="" />
						</div>
						<!--/ End About Image -->
					</div>
					<div class="col-md-6 col-sm-6">
						<!-- Start About Text -->
						<div class="about-Landon-text">
							<h2>My name is Diogo Costa, freelance Software Developer from the UK.</h2>
							<p>Experienced Software Developer with a proven track record and expert knowledge of developing software using Waterfall and Agile methodologies. Worked with programming and scripting languages such as Python, Java, C# and SQL. Experience in developing for the Web (front-end and back-end), Windows and Android.</p>
						</div>
						<div class="author-skills">
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									Python &amp; Flask
									<span>75%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 75%;" data-percent="75"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									SQL
									<span>50%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 50%;" data-percent="50"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									Javascript &amp; jQuery
									<span>50%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 50%;" data-percent="50"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									C#
									<span>50%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 50%;" data-percent="50"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									HTML5 &amp; CSS
									<span>35%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 35%;" data-percent="35"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									Java
									<span>25%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 25%;" data-percent="25"></span>
								</div>
							</div>
							<div class="progress-bar-inner">
								<p class="progress-bar-text">
									Android Development
									<span>30%</span>
								</p>
								<div class="progress-bar">
									<span style="transition: width 3s ease 0s; width: 30%;" data-percent="30"></span>
								</div>
							</div>
						</div>
						<!--/ End About Text -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End About Us Area -->
		<!-- Start Services Area -->
		<section id="services" class="our_services_area section-padding gry-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<!-- Start Section Title -->
						<div class="section-title">
							<h2>What I Do</h2>
						</div>
						<!--/ End Section Title -->
					</div>
				</div>
				<div class="row">
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="fab fa-android fa-lg"></i>
							<h4>Android Development</h4>
							<p>Developed mobile apps to the Android operating system and mobile devices. Used Firebase and HTTP requests for communicating with APIs and databases. Experience in using Google's OAUTH authetation and asynchronous and web scraping tasks.</p>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="fas fa-laptop fa-lg"></i>
							<h4>Software Development</h4>
							<p>Worked in many projects as a Software Developer. Have experienced all the process of the software development life cycle and worked in both agile and waterfall environments.</p>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="fas fa-globe fa-lg"></i>
							<h4>Web Development</h4>
							<p>Worked in many projects involving delivering services to the web. Experience in both front-end and back-end. Worked with Google APIs and many others.</p>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="row">
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="fas fa-graduation-cap fa-lg"></i>
							<h4>Tutoring</h4>
							<p>Knowledgeable on the GCSE and A-level Computer Science syllabus, have taught students programming skills and the software development process.</p>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="far fa-chart-bar fa-lg"></i>
							<h4>Project Management</h4>
							<p>Able to lead teams and help out other fellow programmers with my ability to solve complex issues, and diagnosis/fix issues and bugs with systems and software rapidly.</p>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-md-4 col-sm-6">
						<div class="single-service text-left">
							<i class="fas fa-gamepad fa-lg"></i>
							<h4>Game Development</h4>
							<p>Used the Unity gaming engine to develop some games in my spare time, both 2D and 3D and desktop and mobile.</p>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</section>
		<!-- End Single Service Area-->
		<!-- Start Portfolio Area -->
		<section id="portfolio" class="our-portfolio-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<!-- Start Section Title -->
						<div class="section-title">
							<h2>My recent Projects</h2>
						</div>
						<!--/ End Section Title -->
					</div>
				</div>
				<div class="row">
					<ul id="work" class="text-center">
						<li class="filter" data-filter="all">all</li>
						<li class="filter" data-filter=".android">Android</li>
						<li class="filter" data-filter=".web">Web</li>
					</ul>
				</div>
				<div class="portfolio-inner">
					<div class="row">
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix android">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/1.jpg" title="Coding Helper">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/1.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Coding Helper</h4>
												<p>Android</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix android">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/2.jpg" title="Tinder for Restaurants">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/2.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Tinder for Restaurants</h4>
												<p>Android</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix android">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/3.jpg" title="Loyaltycard Wallet">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/3.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Loyaltycard Wallet</h4>
												<p>Android</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix web">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/4.jpg" title="Travel Companion">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/4.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Travel Companion</h4>
												<p>Web</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix branding web">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/5.jpg" title="Revision Rocket">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/5.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Revision Rocket</h4>
												<p>Web</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
						<!-- Start Single Portfolio -->
						<div class="col-md-4 col-sm-4 mix android">
							<div class="single-portfolio">
								<a class="portfolio-popup" href="assets/img/portfolio/6.jpg" title="Football Stats">
									<div class="project_box">
										<img class="img-responsive" src="assets/img/portfolio/6.jpg" alt="">
										<div class="product_info">
											<div class="product_info_text">
												<h4>Football Stats</h4>
												<p>Android</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<!-- End Single Portfolio -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Portfolio Area -->
		<!-- start complate project area -->
		<div class="complete-project-area section-padding gry-bg">
			<div class="container">
				<div class="row">
					<!-- start single complete project -->
					<div class="col-md-3">
						<div class="single-project text-center">
							<div><i class="fa fa-thumbs-up"></i>
							</div>
							<h4>complete project</h4>
							<h2 class="project-number">4000</h2>
						</div>
					</div>
					<!-- end single complete project -->
					<!-- start single complete project -->
					<div class="col-md-3">
						<div class="single-project text-center">
							<div><i class="fa fa-users"></i>
							</div>
							<h4>Happy Clients</h4>
							<h2 class="project-number">3500</h2>
						</div>
					</div>
					<!-- end single complete project -->
					<!-- start single complete project -->
					<div class="col-md-3">
						<div class="single-project text-center">
							<div><i class="fa fa-coffee"></i>
							</div>
							<h4>cups of coffee</h4>
							<h2 class="project-number">4700</h2>
						</div>
					</div>
					<!-- end single complete project -->
					<!-- start single complete project -->
					<div class="col-md-3">
						<div class="single-project text-center">
							<div><i class="fa fa-clock"></i>
							</div>
							<h4>Working Hours</h4>
							<h2 class="project-number">4000</h2>
						</div>
					</div>
					<!-- end single complete project -->
				</div>
			</div>
		</div>
		<!-- end complete project area -->
		<!-- start blog area -->
		<div id="blog" class="my_blog_area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<!-- Start Section Title -->
						<div class="section-title">
							<h2>Recent blog post</h2>
						</div>
						<!--/ End Section Title -->
					</div>
				</div>
				<div class="row">
					<!-- end single blog post -->
					<!-- start single blog post -->
					<div class="col-md-6">
						<div class="single-blog-post">
							<a href="assets/pdfs/ec-lambeth-talk-2016-05-May.pdf" class="b-title" download>Lambeth talk: May 2016</a>
							<br />
							<a href="assets/pdfs/ec-lambeth-talk-2016-05-May.pdf" class="read-more" download>read more</a>
						</div>
					</div>
					<!-- end single blog post -->
					<!-- start single blog post -->
					<div class="col-md-6">
						<div class="single-blog-post">
							<a href="http://love.lambeth.gov.uk/lambeth-youth-council-news/" class="b-title" download>Lambeth lambeth: October 2016</a>
							<br />
							<a href="http://love.lambeth.gov.uk/lambeth-youth-council-news/" class="read-more" target="_blank">read more</a>
						</div>
					</div>
					<!-- end single blog post -->
				</div>

				<br />

				<div class="row">
				    <!-- start single blog post -->
					<div class="col-md-4">
						<div class="single-blog-post">
							<a href="https://birdmagazine.pt/2018/05/30/the-e-u-and-poland-the-fight-to-maintain-democracy/" class="b-title" target="_blank">The EU and Poland: The fight to maintain Democracy</a>
							<br />
							<a href="https://birdmagazine.pt/2018/05/30/the-e-u-and-poland-the-fight-to-maintain-democracy/" class="read-more" target="_blank">read more</a>
						</div>
					</div>
					<!-- end single blog post -->
					<!-- start single blog post -->
					<div class="col-md-4">
						<div class="single-blog-post">
							<a href="assets/pdfs/IKLEKTIK.pdf" class="b-title" download>A primer on Gentrification</a>
							<br />
							<a href="assets/pdfs/IKLEKTIK.pdf" class="read-more" download>read more</a>
						</div>
					</div>
					<!-- end single blog post -->
					<!-- start single blog post -->
					<div class="col-md-4">
						<div class="single-blog-post">
							<a href="assets/pdfs/EPQ - Capitalism and Robotics - Diogo Costa.pdf" class="b-title" download>Capitalism and Robotics</a>
							<br />
							<a href="assets/pdfs/EPQ - Capitalism and Robotics - Diogo Costa.pdf" class="read-more" download>read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end blog area -->
		<!-- Start Contact Area -->
    <section id="contact" class="contact_us-area gry-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Start Section Title -->
                    <div class="section-title">
                        <h2>Contact Me</h2>
                    </div>
                    <!--/ End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <!-- Start Contact Form -->
                    <div class="contact-us">
                        <div id="form-messages"></div>
                        <div class="col-md-6 form-group text-center">
                            <button class="contact-btn" type="submit" data-toggle="tooltip" data-placement="top" title="hello@diogothecoder.com" onclick="location.href='mailto:hello@diogothecoder.com';"><i class="fa fa-paper-plane"></i>Email Me</button>
                        </div>
                        <div class="col-md-6 form-group text-center">
                            <button class="contact-btn" type="submit" data-toggle="tooltip" data-placement="top" title="(+44) 75858 34558" onclick="location.href='tel:+447585834558';"><i class="fa fa-phone"></i>Call Me</button>
                        </div>
                    </div>
                    <!-- End Contact Form -->
                </div>
            </div>
        </div>
    </section>
		<!-- End Contact Area -->
		<!-- Start Footer Bottom Area -->
		<footer class="footer-bottom-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-social-profile text-center">
							<ul>
								<li><a class="f-color" href="https://www.facebook.com/DiogoTheCoder/" target="_blank"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li><a class="t-color" href="https://twitter.com/DiogoTheCoder/" target="_blank"><i class="fab fa-twitter"></i></a>
								</li>
								<li><a class="g-color" href="https://github.com/DiogoTheCoder/" target="_blank"><i class="fab fa-github"></i></a>
								</li>
								<li><a class="l-color" href="https://www.linkedin.com/in/DiogoTheCoder/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
								</li>
								<li><a class="y-color" href="https://www.youtube.com/DiogoTheCoder?sub_confirmation=1" target="_blank"><i class="fab fa-youtube"></i></a>
								</li>
							</ul>
						</div>
						<p>All Rights Reserved by <a target="_blank" href="https://www.linkedin.com/in/DiogoTheCoder/">Diogo Costa</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom Area -->
		<!-- Java Scripts
			    <!-- latest jquery -->
		<script src="assets/js/jquery.min.js"></script>
		<!-- bootstrap js -->
		<script src="assets/js/bootstrap.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
		<!-- owl carousel js  -->
		<script src="assets/js/owl.carousel.min.js"></script>
		<!-- mixitup js -->
		<script src="assets/js/mixitup.min.js"></script>
		<!-- counterup js -->
		<script src="assets/js/jquery.counterup.min.js"></script>
		<!-- magnific-popup js -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- stellar js -->
		<script src="assets/js/jquery.stellar.min.js"></script>
		<!-- particles js -->
		<script src="assets/js/particles.min.js"></script>
		<script src="assets/js/app.js"></script>
		<!-- scripts js -->
		<script src="assets/js/scripts.js"></script>

		<script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
	</body>
</html>